<section>
    <div class="container"> 
        {{!-- <div class=" mb-4">
            <a href="/admin/add-products" class="btn btn-success mt-4 " >Add Product</a>
        </div> --}}
        <table class="table mt-1 mb-4" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">views</th>
                    <th scope="col">title</th>
                    <th scope="col">Category</th>
                    
                    <th scope="col">date</th>
                    <th scope="col">Image</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each allnews}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <th scope="row">{{this.views}}</th>
                    <td>{{this.title}} </td>
                         <td>{{this.category}} </td>
                 
                    <td>₹{{this.date}}</td>
                    <td><img src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}" style="width: 50px; height: 50px;"></td>
                
                    <td><a href="/admin/editNews/{{this._id}}" class="btn btn-primary">Edit</a>
                     {{#if this.isActive}}
      <a href="/admin/blockNews/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to block{{this.title}}?')">block</a>
      {{else}}
      <a href="/admin/unblockNews/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to unblock{{this.title}}?')">Unblock</a>
  {{/if}}
      </td>
    </tr>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


</section> 
<script >
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
    

</script>
