 <div id="news-container">
    {{#each trendingNews}}
    <a href="/detailnews/{{this.slug}}">
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}" style="height: 90px; width:130px;" alt="dkn" />
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2"></div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/detailnews/{{this.slug}}">
                    {{this.title}}
                    {{!-- <span style="font-size: smaller;color:#39569E;padding-left:5px">click to read more...</span> --}}
                </a>
            </div>
        </div>
    </a>
    {{/each}}
</div>

<div class="trending-pagination d-flex justify-content-between mt-3">
    {{#if (gt trendingPage 1)}}
    <a href="?trendingPage={{previousPage}}" class="btn btn-primary">Previous</a>
    {{/if}}

    {{#if (lt trendingPage trendingTotalPages)}}
    <a href="?trendingPage={{nextPage}}" class="btn btn-primary">Next</a>
    {{/if}}
</div>