<!-- News With Sidebar Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h4 class="m-0 text-uppercase font-weight-bold">ಇತ್ತೀಚಿಗಿನ ಸುದ್ದಿಗಳು</h4>
              <a
                class="text-secondary font-weight-medium text-decoration-none"
                href=""
              >View All</a>
            </div>
          </div>
          {{#each cnews}}
            {{#ifCond @index "<" 6}}

              <div class="col-lg-6">
                <div class="position-relative mb-3">
                  <img
                    class="img-fluid w-100"
                    src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}"
                    style="object-fit: cover; height: 300px;"
                    style="object-fit: cover;"
                  />
                  <div class="bg-white border border-top-0 p-4">
                    <div class="mb-2">
                      <a
                        class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                        href=""
                      >{{this.category}}</a>
                      <a class="text-body" href=""><small
                        >{{this.date}},{{this.timeAgo}}</small></a>
                    </div>
                    <a
                      class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
                      href="/detailnews/{{this.slug}}"
                    >{{this.title}}</a>

                    <p class="m-0">{{this.shortp}}</p>
         <div class="icons-wrapper mt-3">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-share"
                        viewBox="0 0 16 16"
                        style="margin-right: 10px;"
                      >
                        <path
                          d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"
                        />
                      </svg>

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="#25D366"
                        class="bi bi-whatsapp"
                        viewBox="0 0 16 16"
                        cursor="pointer"

                        onclick="shareOnWhatsApp('{{this.shortp}}', '{{this.image1}}', '{{this.slug}}')"
                      >
                        <path
                          d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"
                        />
                      </svg>

                      <p
                        class="m-0"
                        style="display: inline-block; margin-left: 10px;cursor:pointer;"
                        onclick="shareOnWhatsApp('{{this.shortp}}', '{{this.image1}}', '{{this.slug}}')"

                      >WhatsApp</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        cursor="pointer"
                        width="24"
                        height="24"
                        fill="#1877f2"
                        class="bi bi-facebook"
                        viewBox="0 0 16 16"
                        onclick="shareOnFacebook('{{this.shortp}}', '{{this.image1}}', '{{this.slug}}')"
                    
                      >
                        <path
                          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
                        />
                      </svg>
                      <p
                        class="m-0"
                        style="display: inline-block; margin-left: 10px;cursor:pointer;"
                         onclick="shareOnFacebook('{{this.shortp}}', '{{this.image1}}', '{{this.slug}}')"
                      >facebook</p>

                    </div>

                  </div>
                  {{! <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                    </div>
                                </div> }}
                </div>
              </div>
            {{/ifCond}}

          {{/each}}
          {{!-- large screen visibility --}}
{{!-- 
         <div class="col-lg-12">
                    <div class="mb-3 ">
    <!-- Show on screens larger than medium (md) size -->
      <div class="row">
        <div class="col-12">
            <!-- Previous and Next News -->
            <div class="mb-3">
                
                    

                    <div class="row">
                        <!-- Previous News -->
                        <div class="col-6">
                            <a href="/detailnews/{{previousNews._id}}">
                             <h4 class="m-0 text-uppercase font-weight-bold">previous news</h4>
                                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                    <img class="img-fluid" src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{previousNews.images.[0]}}" alt="" style="height: 90px;width:90px;" >
                                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{previousNews.category}}</a>
                                            <a class="text-body" href=""><small>{{previousNews.date}}</small></a>
                                        </div>
                                        <a href="/detailnews/{{previousNews._id}}" class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{previousNews.shortp}}</a>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Next News -->
                        
                        <div class="col-6">
                            
                            <a href="/detailnews/{{nextNews._id}}">
                             <h4 class="m-0 text-uppercase font-weight-bold">Next news</h4>
                                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                    <img class="img-fluid" src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{nextNews.images.[0]}}" alt="" style="height: 90px;width:90px;" >
                                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{previousNews.category}}</a>
                                            <a class="text-body" href=""><small>{{nextNews.date}}</small></a>
                                        </div>
                                        <a href="/detailnews/{{nextNews._id}}" class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{nextNews.shortp}}</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div> --}}
          <div class="col-lg-12 mb-3">
            <a href=""><img
                class="img-fluid w-100"
                src="img/ads-728x90.png"
                alt=""
              /></a>
          </div>
          <div class="col-lg-6">
            {{!-- {{#each news}}
                {{#ifCond @index '<' 2}}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}" style="object-fit: cover; height: 200px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="/user/detailnews/{{this.slug}}">Lorem ipsum dolor sit amet dfdf..</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                    </div>
                                </div>
                            </div>
                         {{/ifCond}}

                        {{/each}} --}}
          </div>
          <div class="col-lg-6">
            {{!-- {{#each news}}
                {{#ifCond @index '<' 2}}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}" style="object-fit: cover; height: 200px;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="/detailnews/{{this.slug}}">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                    </div>
                                </div>
                            </div>
                         {{/ifCond}} --}}

            {{!-- {{/each}}  --}}
          </div>

          <div class="col-lg-12 mb-3">
            <a href=""><img
                class="img-fluid w-100"
                src="img/ads-728x90.png"
                alt=""
              /></a>
          </div>

        </div>

      </div>
      
      <div class="col-lg-4">
        <!-- Social Follow Start -->
        <div class="mb-3">
          <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Advertise</h4>
          </div>
          <div class="bg-white border border-top-0 p-3">
            <div style="border: solid 1px red;">
              <h1>Market your buisiness here</h1>
            </div>
            
          </div>
        </div>
        <!-- Social Follow End -->

        <!-- Ads Start -->
        <div class="mb-3">
          <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
          </div>
          <div class="bg-white text-center border border-top-0 p-3">
            {{! <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a> }}
            <div style="border: solid 1px red;">
              <h1>Market your buisiness here</h1>
            </div>
          </div>
        </div>
        <!-- Ads End -->

        <!-- Popular News Start -->
        <div class="mb-3">
          <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Trending News</h4>
          </div>
          <div class="bg-white border border-top-0 p-3">
            {{#each trendingNews}}
              <a href="/detailnews/{{this.slug}}">

                <div
                  class="d-flex align-items-center bg-white mb-3"
                  style="height: 110px;"
                >
                  <img
                    class="img-fluid"
                    src="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}"
                    style="height: 90px; width:130px;"
                    alt="dkn"
                  />
                  <div
                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0"
                  >
                    <div class="mb-2">
                    
                    </div>
                    <a
                      class="h6 m-0 text-secondary text-uppercase font-weight-bold"
                      href="/detailnews/{{this.slug}}"
                    >{{this.title}}
                      <span
                        style="font-size: smaller;color:#39569E;padding-left:5px"
                      >click to read more...</span></a>
                  </div>
                </div>
              </a>
            {{/each}}

            {{!             }}

            <div class="d-flex justify-content-between mt-3">
              {{#if (gt trendingPage 1)}}

                <a
                  href="?trendingPage={{previousPage}}"
                  class="btn btn-primary"
                >Previous</a>
              {{/if}}

              {{#if (lt trendingPage trendingTotalPages)}}
                <a
                  href="?trendingPage={{nextPage}}"
                  class="btn btn-primary"
                >Next</a>
              {{/if}}
            </div>
          </div>
        </div>
        <!-- Popular News End -->

        <!-- Newsletter Start -->
        <div class="mb-3">
          <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
          </div>
          <div class="bg-white text-center border border-top-0 p-3">
            <p>To post your articles and news,please signup. This facility will
              be available soon. Please wait...</p>
            <div class="input-group mb-2" style="width: 100%;">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Your Email"
              />
              <div class="input-group-append">
                <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
              </div>
            </div>
            <small>share your favorite articles and news</small>
          </div>
        </div>
        <!-- Newsletter End -->

        <!-- Tags Start -->
        <div class="mb-3">
          <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
          </div>
          <div class="bg-white border border-top-0 p-3">
            <div class="d-flex flex-wrap m-n1">
              {{#each category}}
                <a
                  href=""
                  class="btn btn-sm btn-outline-secondary m-1"
                >{{this.category}}</a>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- Tags End -->
      </div>

     
<script>
 function shareOnFacebook(title, image, newsId)  {
    
    // Implement logic to open Facebook share dialog with shareLink
     const baseUrl = window.location.origin; 
     console.log(baseUrl)

    const encodedTitle = encodeURIComponent(title);
    const encodedUrl = encodeURIComponent(`${baseUrl}/detailnews/${newsId}`);
    const facebookLink=`https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}`
    window.open(facebookLink, '_blank');
  };

  function shareOnWhatsApp(title, image, newsId) {
      const baseUrl = window.location.origin; 
    const encodedTitle = encodeURIComponent(title);
    const encodedUrl = encodeURIComponent(`${baseUrl}/detailnews/${newsId}`);
    const whatsappLink = `https://wa.me/?text=${encodedUrl}`;

    // Open WhatsApp link in a new window or tab
    window.open(whatsappLink, '_blank');

  }
</script>