<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="suddi Template">
    <meta name="keywords" content="idondu, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{news.title}} » idondusuddi</title>
  <meta name="description" content="{{news.shortp}}">
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
  <link rel="canonical" href="https://newidondu.onrender.com/{{this.slug}}/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{news.title}} » idondusuddi">
  <meta property="og:description" content="{{news.shortp}}">
  <meta property="og:url" content="https://newidondu.onrender.com/{{this.slug}}/">
  <meta property="og:site_name" content="idondusuddi">
  <meta property="og:image" content="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}">
  <meta property="og:image:secure_url" content="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}">
  {{!-- <meta property="og:image:width" content="720">
  <meta property="og:image:height" content="406"> --}}
  <meta property="og:image:alt" content="{{news.title}}">
  <meta property="og:image:type" content="image/jpeg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{news.title}} » idondusuddi">
  <meta name="twitter:description" content="{{news.shortp}}">
  <meta name="twitter:site" content="@Melkar">
  <meta name="twitter:creator" content="@Melkar">
  <meta name="twitter:image" content="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{this.image1}}">
    {{!-- <title>idondusuddi » Kannada instance news portal</title>
    <meta name="description" content="Kannada Instance news port">
    <meta name="robots" content="follow, index">
    <link rel="canonical" href="https://newidondu.onrender.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="idondusuddi » Kannada instance news portal">
    <meta property="og:title" content="idondusuddi » Kannada instance news portal">
    <meta property="og:url" content="https://newidondu.onrender.com/">
    <meta property="og:site_name" content="newidondu">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="idondusuddi » Kannada instance news portal">
    <meta name="twitter:description" content="Kannada instance news portal">
    <meta name="twitter:site" content="@Melkar"> --}}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

    <!-- Fancybox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1728528418343509"
     crossorigin="anonymous"></script>
    
</head>
<body>
     {{#if admin}}
    {{>adminHeader}}
    
    {{else}}
    {{>userHeader}}
    {{/if}}
    <!-- Topbar Start -->
 {{{body}}}
 {{>footer}}

<!-- Js Plugins -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/user/lib/easing/easing.min.js"></script>
    <script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/user/js/main.js"></script>
</body>

</html>
